.root {
    -fx-font-family: 'Segoe UI', sans-serif;
}

.fundo-login {
    -fx-background-color: #BADEDA;
}

.campo-texto-figma {
    -fx-background-color: #f8caba !important;
    
    -fx-border-color: #edafaf;
    -fx-border-width: 2px;
    -fx-border-style: solid;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    
    -fx-pref-height: 50px;
    -fx-pref-width: 660px;

    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 27px;
}

.campo-texto-figma:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #edafaf;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.titulo-login {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ecf0f1;
    -fx-padding: 0 0 20 0;
}

.campo-texto {
    -fx-background-color: #ecf0f1;
    -fx-background-radius: 5;
    -fx-padding: 10;
    -fx-font-size: 14px;
}

.botao-principal {
    -fx-background-color: #d2d36f;
    -fx-border: 3px solid;
    -fx-border-color: #b8b93e;
    -fx-border-radius: 10px;
    -fx-height: 90px;
    -fx-left: 179px;
    -fx-position: fixed;
    -fx-top: 706px;
    -fx-width: 305px;
}

.botao-principal:hover {
    -fx-background-color: #2ecc71;
}

.botao-secundario {
    -fx-background-color: rgb(177, 176, 176);
    -fx-text-fill: black;
    -fx-underline: false;
    -fx-cursor: hand;
}

.mensagem-erro {
    -fx-text-fill: #e74c3c;
    -fx-font-weight: bold;
}

.login-card {
    -fx-background-color: #FEEED5; 
    -fx-background-radius: 20px;   
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 5); 
    -fx-padding: 30px;             
    -fx-max-width: 450px;          
}

.texto-escuro {
    -fx-text-fill: #2c3e50; 
    -fx-font-family: 'Arial';
    -fx-font-weight: bold;
}


.subtitulo {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #7f8c8d; 
    -fx-padding: 10 0 5 0;
}

.botao-menu {
    -fx-background-color: #687dcf; 
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 12 20;
    -fx-cursor: hand;
    -fx-alignment: CENTER-LEFT; 
}

.botao-menu:hover {
    -fx-background-color: rgb(25, 54, 83);
}

.botao-perigo {
    -fx-background-color: transparent;
    -fx-border-color: #e74c3c;
    -fx-border-width: 2px;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-text-fill: #e74c3c;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.botao-perigo:hover {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
}

.console-log {
    -fx-control-inner-background: rgba(255, 255, 255, 0.9); 
    -fx-background-color: transparent;
    -fx-text-fill: #555555;                
    -fx-font-family: "Consolas", "Monospaced";
    -fx-font-size: 11px;
    
    -fx-border-color: #bdc3c7;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.console-log:focused {
    -fx-background-color: transparent;
    -fx-border-color: #3498db; 
}